


p{
  padding:5% 0px 0px 40%;
  margin:auto;
  height:auto;
  font-size:17px;
}
.image1{
padding:5% 0px 0px 40%;
justify-image:center;

}
h2{
  padding: 5% 0px 0px 40%;
  margin:auto;
  height:auto;
  font-size:80px;
}
